#parent {
    height: 100vh;
    width: 30vw;
    background-color: rgb(240, 240, 240);
}

#fullscreen {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.title {
    float: left;
    padding-left: 10%;
    font-size: 25px;
    color: rgb(115, 114, 114);
    font-family: 'Rancho', cursive;
    font-style: normal;
    text-align: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    /* background-color: #f8f8f8; */
}

.row {
    float: left;
}

.people-list {
    border-radius: 5px;
    box-sizing: border-box;
    background: #ffffff;
    width: 30%;
    height: 95%;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 3%;
    margin-bottom: 1%;
}

.chat {
    border-radius: 5px;
    background: #ffffff;
    width: 60%;
    height: 95%;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.people-list .chat-list li {
    padding: 5%;
    list-style: none;
    border-radius: 3px;
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 20%;
    border-radius: 30%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 4%
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    border-radius: 5px;
    border-bottom: 2px solid #f4f7f6;
    height: 10%;
    width: 100%;
    background: #ffffff;
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 5%;
    padding-left: 1%;
    padding-top: 1%;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 25px;
    color: rgb(67, 63, 63);
    font-family: 'Rancho', cursive;
    font-style: normal;
    text-align: center;
    justify-content: center;
}

.chat .chat-history {
    border-bottom: 1px inset rgb(67, 63, 63);
    background: #ffffff;
    height: 75%;
    width: 100%;
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 2%;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    font-family: 'Rancho', cursive;
    font-style: normal;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    height: 10%;
    width: 100%;
    background: #ffffff;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right;
    clear: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.pad {
    padding-top: 1%;
    padding-left: 8%;
}

input[type=text] {
    padding-top: 1%;
    padding-left: 1%;
    overflow-x: auto;
    width: 70%;
    appearance: auto;
    border: none;
    outline: none;
    border-bottom: .1em solid #e7e7e7;
    background: rgba(#d3efff, .2);
    border-radius: .2em .2em 0 0;
    color: rgb(67, 63, 63);
    font-family: 'Rancho', cursive;
    font-style: normal;
    font-size: 20px;
}

.vertical-scroll {
    padding: 10px 5px 10px 20px;
    margin: 0 auto;
    overflow-y: scroll;

}

.hidden::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar */
}

.chat-history::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar */
}