.app {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  position: fixed;
}

.editor {
  float: left;
  height: 100%;
  width: 60%;
  background-color: rgb(240, 240, 240);
}

.upper-part {
  width: 100%;
  height: 10%;
}

.lower-part {
  width: 100%;
  height: 85%;
}

.toolbar {
  float: left;
  width: 9%;
  margin-left: 1%;
  margin-top: 1%;
  height: 98%;
  background-color: #ffffff;
}

.instruments {
  height: 90%;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.back{
  height: 10%;
}

.cntr{
  margin-left: 13%;
}

.canvasFrame {
  float: left;
  width: 85%;
  height: 98%;
  margin-left: 1%;
  margin-top: 1%;
  background-color: #ffffff;
}

.noteditor {
  float: left;
  height: 100%;
  width: 40%;
  background-color: rgb(240, 240, 240);
}

.shapeinfo {
  width: 92%;
  height: 15%;
  margin-left: 3%;
  margin-top: 1%;
  background-color: #ffffff;
}

.tool,
.shape-button {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.tool.selected,
.shape-button.selected {
  background-color: #e0e0e0;
}

.flexbox-container {
  display: 'flex';
  flex-direction: row;
}

#shapebuttons {
  float: left;
  width: 6%;
  height: auto;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 2%;
  cursor: pointer;
  color: #c9c9c9;
  text-shadow: 1px 1px 1px #ffffff;
}

.shapebar {
  float: left;
  width: 60%;
  height: 90%;
  background-color: #ffffff;
  margin-right: 3%;
  margin-top: 1%;
  margin-left: 1%;
}

.sheetbar {
  float: left;
  width: 32%;
  height: 90%;
  margin-top: 1%;
  background-color: #ffffff;
}

.round-border {
  border-radius: 5px;
}

.toolButton {
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  padding: 0.7rem;
  margin-left: 8%;
  margin-top: 10%;
  transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.selectedBtn:hover {
  background: linear-gradient(135deg, #e0e0e0, #d0d0d0);
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

.selectedBtn:focus {
  background-color: #d0d0d0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
}

.sheetButton {
  align-self: center;
  background-color: #fff;
  width: 20%;
  cursor: pointer;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  padding: .7rem;
  margin-left: 9%;
  margin-top: 3%;
  border-color: #e0e0e0;
  color: #787878;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #b2b2b2;
  background: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  width:auto;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 200;
}

.rotate{
  margin-left: 10%;
  transform: scale(-1, 1)
}

#fa-buttons {
  color: #c9c9c9;
  text-shadow: 1px 1px 1px #ffffff;
}


.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: #444; 
  color: #fff; 
  text-align: center;
  padding: 8px 12px; 
  border-radius: 5px;
  position: absolute;
  left: 110%; 
  top: 50%; 
  transform: translateY(-50%); 
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s; 
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 50%; 
  right: 100%;
  margin-top: -5px; 
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #444; /* Цвет и направление стрелки */
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(-50%) translateX(5px);
}