.app {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  position: fixed;
}

.editor {
  float: left;
  height: 100%;
  width: 60%;
  background-color: rgb(240, 240, 240);
}

.upper-part {
  width: 100%;
  height: 10%;
}

.lower-part {
  width: 100%;
  height: 85%;
}

.toolbar {
  float: left;
  width: 9%;
  margin-left: 1%;
  margin-top: 1%;
  height: 98%;
  background-color: #ffffff;
}

.canvasFrame {
  float: left;
  width: 85%;
  height: 98%;
  margin-left: 1%;
  margin-top: 1%;
  background-color: #ffffff;
}

.noteditor {
  float: left;
  height: 100%;
  width: 40%;
  background-color: rgb(240, 240, 240);
}

.shapeinfo {
  width: 92%;
  height: 15%;
  margin-left: 3%;
  margin-top: 1%;
  background-color: #ffffff;
}

.tool,
.shape-button {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.tool.selected,
.shape-button.selected {
  background-color: #e0e0e0;
}

.flexbox-container {
  display: 'flex';
  flex-direction: row;
}

#shapebuttons {
  float: left;
  width: 6%;
  height: auto;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 2%;
  cursor: pointer;
}

.shapebar {
  float: left;
  width: 60%;
  height: 90%;
  background-color: #ffffff;
  margin-right: 3%;
  margin-top: 1%;
  margin-left: 1%;
}

.sheetbar {
  float: left;
  width: 32%;
  height: 90%;
  margin-top: 1%;
  background-color: #ffffff;
}

.round-border {
  border-radius: 5px;
}

.toolButton {
  display: flex;
  align-self: center;
  background-color: #fff;
  background-image: none;
  border: 2px thick #7f7f7f;
  width: 80%;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  color: #41403e;
  cursor: pointer;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  padding: .7rem;
  touch-action: manipulation;
  margin-left: 8%;
  margin-top: 10%;
}

.selectedBtn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.selectedBtn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.sheetButton {
  align-self: center;
  background-color: #fff;
  background-image: none;
  border: 2px thick #7f7f7f;
  width: 20%;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  color: #41403e;
  cursor: pointer;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  padding: .7rem;
  touch-action: manipulation;
  margin-left: 9%;
  margin-top: 3%;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #b2b2b2;
  background: rgb(255, 255, 255);
  text-align: center;
  color: rgb(105, 105, 105);
  vertical-align: middle;
  padding: 10px;
}

.numberstyle {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
}