#home {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(to bottom right, #667eea, #764ba2);
  background-blend-mode: overlay;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Home-logo {
  height: 60vmin;
  pointer-events: none;
}

.advice {
  color: #98a7ea;
  text-decoration: none;
  font-family: system-ui;
  font-style: normal;
  text-align: left;
  font-size: 20px;
}

.header {
  font-size: 62px;
  color: rgb(255, 255, 255);
  font-family: system-ui;
  font-style: normal;
  text-align: left;
  justify-content: center;
}

#column-div {
  flex-direction: column;
  display: flex;
  margin-left: 7%;
}

.default {
  cursor: default;
}